# ==========================================
# macOS
# ==========================================

.DS_Store

# ==========================================
# Rust
# ==========================================

/target/

# Backup files
**/*.rs.bk

# ==========================================
# Python
# ==========================================

__pycache__/
*.pyc
.venv/
.env

# ==========================================
# VS Code
# ==========================================

# Ignore personal workspace settings
.vscode/*

# Keep shared project settings
!.vscode/extensions.json
!.vscode/settings.json

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# SQLite
# ==========================================

*.db
*.sqlite